<div class="tiles-grid">

  {% assign projects = site.projects | reverse %}

  {% for project in projects %}
  {% if project.draft != true %}
  <div class="tile">
    {% if page.url == project.url %}
    <a href="{{ project.url | prepend: site.baseurl }}" class="active">
      <div class="tile-image" style="background-image:url({{project.thumbnail}})"></div>
      <p class="tile-title">{{ project.title | escape }}</p>
      <span class="tile-meta">{{ project.description }}</span>
    </a>
    {% else %}
    <a href="{{ project.url | prepend: site.baseurl }}">
      <div class="tile-image" style="background-image:url({{project.thumbnail}})"></div>
      <p class="tile-title">{{ project.title | escape }}</p>
      <span class="tile-meta">{{ project.description }}</span>
    </a>
    {% endif %}
  </div>
  {% endif %}
  {% endfor %}

</div>