// Define defaults for each variable.

$base-font-family: "DM Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.857 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     1.666em !default;

$brand-color:      #930404 !default;
$text-color:       #262626 !default;
$link-color:       #930404 !default;
$text-header-color:$brand-color !default;
$background-color: #e0dbd1 !default;/*dbdbdb e9e7e7 e0dbd1 bdb2a3 efece1*/

$grey-color:       #545454;
$grey-color-light: lighten($grey-color, 17%);
$grey-color-dark:  darken($grey-color, 13%);

// Width of the content area
$content-width:    1024px !default;

$navbar-height: 56px;
$header-xl-height: 600px;
$header-lg-height: 450px;
$header-sm-height: 350px;

$on-palm:          600px !default;
$on-laptop:        1024px !default;
$on-desktop:    1440px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
  "re/base",
  "re/layout",
  "re/syntax-highlighting"
;
