// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   14px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.75 !default;
$base-line-height: 1.6 !default;

$spacing-unit:     30px !default;

$text-color:       #262626 !default;
$background-color: #e0dbd1 !default;/* 92% #e0dbd1 bdb2a3*/
$brand-color:      #CF382E !default;

$grey-color:       #545454;
$grey-color-light: lighten($grey-color, 17%);
$grey-color-dark:  darken($grey-color, 13%);

// Width of the content area
$content-width:    800px !default;

$navbar-height: 56px;
$header-lg-height: 350px;
$header-sm-height: 250px;

$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
  "re/base",
  "re/layout",
  "re/syntax-highlighting"
;
